{% extends 'base.html' %}
{% load static %}
 
{% block title %}Report Input Page {% endblock %}

{% block css %}

<style>
    #yes:hover{
        color:aliceblue;
        background-color: rgb(21, 117, 1) !important;
    }   
    #no:hover{
        color: aliceblue;
        background-color: rgb(145, 14, 14) !important;
    }
</style>

{% endblock %}

{% block body %}

<form action="" class="d-none">
    {% csrf_token %}
    <p id="day">{{day}}</p>
    <p id="month">{{month}}</p>
    <p id="year">{{year}}</p>
</form>

<br><br>
<div class="container">
    <div class="row">
            <div class="card" id="question_card" style="width:100%;background-color:rgb(181, 229, 248);">
                <div class="card-body">
                    <h4 style="margin: auto;text-align:left;padding-left:2rem;" id="routine"></h4>
                    <br>
                    <h5 style="margin: auto;text-align:center;" id="question">
                    </h5>
                </div>
            </div>
    </div>
    <br>
    <div class="row">
        
                <button id="yes" class="btn" style="height: 4rem;background-color:rgba(128, 228, 128, 0.667);">
                    <h6>Yes</h6>
                </button>
        
        
                <button id="no" class="btn" style="height: 4rem;background-color:rgba(252, 77, 77, 0.605);">
                    <h6>No</h6>
                </button>
        
        
    </div>

    <div class="row d-none" id="comment_row">
                <div class="card" style="width: 100%; background-color:rgb(153, 167, 231);">
                <div class="card-body">
                <input type="text" id="comment" class="form-control">
                <br>
                <button id="submit_comment" class="btn btn-dark" style="width: 100%;text-align:center;">submit</button>
                </div>
                </div>
    </div>

    <div class="row d-none" id="success_card">
        <h2 id="done_data">Success</h2>
    </div>

</div>

{% endblock %}


{% block js %}

<script src="{% static 'report_input.js' %}"></script>

{% endblock %}